/* 

.container {
    border: 3px solid black;
}

.container-fluid {
    border: 3px solid red;
}

header {
    min-height: 80px;
}

section {
    min-height: 500px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
} */

/* UTILITIES */

/* font */

/* font weight */

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* color */

.text-d-gray {
    color: #333333;
}

/* border */

.rounded-20 {
    border-radius: 20px;
}

/* bar */
.bar {
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 0 10px;
    width: 10%;
}

/* background */

.bg-blue {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: #BA4B63 ;
}

.bg-d-gray {
    background-color: #333333;
}

/* MAIN */

/* jumbotron */

#jumbotron img {
    width: 250px;
}

