


/* height */
.test-height-50 {
    min-height: 50px;
}
.test-height-100 {
    min-height: 100px;
}
.test-height-200 {
    min-height: 200px;
}
.test-height-300 {
    min-height: 300px;
}
.test-height-500 {
    min-height: 500px;
}


/* background */

.background-blue {
    background-color: #2C3E50;
}

.background-green {
    background-color: #1ABC9C;
}

.background-white {
    background-color: white;
}

.background-red {
    background-color: #BA4B63 ;
}