/* 

.container {
    border: 3px solid black;
}

.container-fluid {
    border: 3px solid red;
}

header {
    min-height: 80px;
}

section {
    min-height: 500px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
} */

/* UTILITIES */

/* font */

/* font weight */

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* color */

.text-d-gray {
    color: #333333;
}

.text-green {
    color: #1ABC9C;
}

/* border */

.rounded-20 {
    border-radius: 20px;
}

/* bar */
.bar {
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 0 10px;
    width: 10%;
}

/* background */

.bg-l-blue {
    background-color: #3A546D;
}

.bg-blue {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: #BA4B63 ;
}

.bg-d-gray {
    background-color: #333333;
}

/* MAIN */

/* jumbotron */

#jumbotron img {
    width: 250px;
}

/* contact me */

#contact-me .form-control {
    border-radius: 0;
    border-color: #333333; 
    border-width: 0 0 1px 0;
}

#contact-me textarea.form-control {
    min-height: 100px;
}

/* footer */
 
.web-icons a {
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
